<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace = "fragments :: head"></head>
  <body>
	
  <div class="container">
    <div class="row">
      <div class="three columns">
        <div th:replace="fragments :: leftmenu"></div>
      </div>
      <div class="six columns entries">
        <div th:each="posts : ${entries}" class="entry">
          <div>
            <a th:href="'/entry?entryid=' + ${posts.id}"><span th:text="'#' + ${posts.id}"></span></a>
            <img th:title="${posts.flag.flagname}" th:if="${posts.flag}" th:src="${posts.flag.filename}" alt="flag" />
            <span th:text="${#temporals.format(posts.createDate,'yyyy-MM-dd (EEE) HH:mm:ss')}">&nbsp;</span>
          </div>
          <span th:utext="${posts.comment}"></span>
          <div th:replace="fragments :: attachment"></div>
          <div th:if="${posts.category}">
            <hr>
            <small th:text="'Category: ' + '/' + ${posts.category.title} + '/ - ' + ${posts.category.subtitle}"></small>
          </div>
          <hr>
          <div>
            <a th:href="'/entry?entryid=' + ${posts.id}"><i class="bi bi-chat-fill"></i>&nbsp;<span th:text="${#lists.size(posts.replies)}"></span>&nbsp;Comments</a>
            <span class="u-pull-right report">
              <small>
              <a th:href="'/report?entryid='+ ${posts.id}"><i class="bi bi-exclamation-triangle-fill"></i>&nbsp;Report</a>
              </small>
            </span>
            <div class="u-cf"></div>
          </div>
        </div>
        <br>
        <div class="arrows">
          <a class="u-pull-left" th:if="${previous} != null" th:href="${previous}"><i class="bi bi-arrow-left-square-fill"></i>&nbsp;prev</a>
          <a class="u-pull-right" th:href="${next}">next&nbsp;<i class="bi bi-arrow-right-square-fill"></i></a>
          <div class="u-cf"></div>
        </div>
        <br><br>
      </div>
      <div class="three columns">
        <div th:replace="fragments :: sidemenu"></div>
      </div>
    </div>
  </div>
  </body>
</html>